In [19]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
import requests

# Scrape data on number of plugs and fee at each station

In [20]:
url = 'https://bouldercolorado.gov/services/electric-vehicle-charging-stations#section-8319'
response = requests.get(url)

In [21]:
response.status_code

200

In [25]:
soup = bs(response.text)

In [49]:
table = soup.find(class_ = "field field--name-field-formatted-text field--type-text-long field--label-hidden field__item")

In [97]:
rows = table.find_all('tr')

In [126]:
station_info = []
for row in rows[1:18]:
    address = row.text.split('\n')[2]
    num_plugs = row.text.split('\n')[3]
    free = (row.text.split('\n')[4]=='Free')
    info_dict = {'address' : address, 'num_plugs' : num_plugs, 'free' : free}
    station_info.append(info_dict)

[{'address': '3335 Airport Rd', 'num_plugs': '2', 'free': True},
 {'address': '2667 Broadway', 'num_plugs': '2', 'free': True},
 {'address': '7315 Red Deer Dr', 'num_plugs': '2', 'free': True},
 {'address': '1770 13th St', 'num_plugs': '2', 'free': True},
 {'address': '600 Baseline Rd', 'num_plugs': '2', 'free': False},
 {'address': '1505 30th St', 'num_plugs': '4', 'free': True},
 {'address': '5660 Sioux Dr', 'num_plugs': '2', 'free': True},
 {'address': '3172 Broadway', 'num_plugs': '2', 'free': True},
 {'address': '1360 Gillaspie Dr', 'num_plugs': '2', 'free': True},
 {'address': '5565 51st St', 'num_plugs': '2', 'free': True},
 {'address': '5333 Valmont Rd', 'num_plugs': '4', 'free': True},
 {'address': '900 Walnut St', 'num_plugs': '4', 'free': False},
 {'address': '1104 Spruce', 'num_plugs': '2', 'free': False},
 {'address': '1100 Walnut St', 'num_plugs': '2', 'free': False},
 {'address': '1400 Walnut Parking Garage', 'num_plugs': '2', 'free': False},
 {'address': '1500 Pearl St', 'num_plugs': '4', 'free': False},
 {'address': '2240 Broadway', 'num_plugs': '2', 'free': False}]

In [127]:
station_info_df = pd.DataFrame(station_info)
station_info_df

                       address num_plugs   free
0              3335 Airport Rd         2   True
1                2667 Broadway         2   True
2             7315 Red Deer Dr         2   True
3                 1770 13th St         2   True
4              600 Baseline Rd         2  False
5                 1505 30th St         4   True
6                5660 Sioux Dr         2   True
7                3172 Broadway         2   True
8            1360 Gillaspie Dr         2   True
9                 5565 51st St         2   True
10             5333 Valmont Rd         4   True
11               900 Walnut St         4  False
12                 1104 Spruce         2  False
13              1100 Walnut St         2  False
14  1400 Walnut Parking Garage         2  False
15               1500 Pearl St         4  False
16               2240 Broadway         2  False

In [133]:
for each in station_info_df.address:
    print(f"{each} in df? {each in df.Address.unique()}")

3335 Airport Rd in df? True
2667 Broadway in df? True
7315 Red Deer Dr in df? True
1770 13th St in df? True
600 Baseline Rd in df? True
1505 30th St in df? True
5660 Sioux Dr in df? True
3172 Broadway in df? True
1360 Gillaspie Dr in df? True
5565 51st St in df? True
5333 Valmont Rd in df? False
900 Walnut St in df? True
1104 Spruce in df? False
1100 Walnut St in df? False
1400 Walnut Parking Garage in df? False
1500 Pearl St in df? True
2240 Broadway in df? True

In [134]:
df.Address.unique()

array(['2280 Junction Pl', '1275 Alpine Ave', '900 Baseline Rd',
       '1745 14th street', '1500 Pearl St', '1770 13th St',
       '900 Walnut St', '1100 Spruce St', '1360 Gillaspie Dr',
       '1400 Walnut St', '1100 Walnut', '2052 Junction Pl',
       '7315 Red Deer Dr', '3172 Broadway', '1739 Broadway',
       '2150 13th St', '5660 Sioux Dr', '5565 51st St', '1505 30th St',
       '3335 Airport Rd', '600 Baseline Rd', '5050 Pearl St',
       '2667 Broadway', '2240 Broadway'], dtype=object)

In [180]:
station_info_df.to_csv('data/station_info.csv')